################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ex03 Maya 322854415 Ben 323918771
# Visual Studio files
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.cache

# Build results
DEBUG/
RELEASE/
/Ex03.ConsoleUI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.gitignore
obj/ 
*.cache 
*.user 
